.comments {
  margin: 60px 20px 0;
  overflow: hidden;
}
.valine .vinputs-area .vextra-area .vsmile-icons {
    padding: .2em 0;
    border-top: 1px solid #ededed;
    border-radius: 0;
    margin: .3em 0;
    max-height: 150px;
    overflow: auto;
}


