// Page specific styles
@import 'archive';
@import 'categories';
@import 'schedule';
@import 'breadcrumb';
@import 'tag-cloud';


div#top{
  text-align: left;
}

div.vsmile-icons{
  height: 500px
}

.valine .vinputs-area .vextra-area .vsmile-icons {
    padding: 5em 0;
    border-top: 1px solid #ededed;
    border-radius: 0;
    margin: .3em 0;
    max-height: 500px;
    overflow: auto;
}

.posts-expand .post-title {
    position: relative!important;
    text-align: center!important
}

.posts-expand .post-meta{
      text-align: center!important
}

.posts-expand .post-body img {
      text-align: center!important
}



div.post-button.text-center{
        text-align: center!important
}

div.out-img-topic{
  text-align: center!important
}

a.fancybox.fancybox.image{
    text-align: center!important
}



.posts-expand .post-body .fancybox img {
    margin: 0 auto 25px;
}



article.post.post-type-normal{
   margin-left: -120px;
  width: 120%
}

div#comments.comments.valine {
   margin-left: -100px;
  width: 120%
}
