.post-body p a {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  color: #00FF7F;
  &:hover {
    color: #00FF7F;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

.posts-expand .post-body h1:before{
    content: "🌈";  
    margin-right: 16px !important;
}

/*修改h2前面图标*/
.posts-expand .post-body h2:before{
    content: "🌞";
    margin-right: 16px !important;
}

/*修改h3前面图标*/
.posts-expand .post-body h3:before{
    content: "🔍";
    margin-right: 16px !important;
}

/*设置无序标签内文本样式*/
.posts-expand .post-body ol li{
	text-align: left;
    color: #000
}

.post-block .popular-posts-header::before{
    content: "📚";
    margin-right: 16px !important;
}

div.popular-posts-title::before{
    content: "🏷️";
    left: -2em;
    margin-right: 25px !important;
}

.tag-cloud a:before{
     content: "🔖";
     margin-right: 16px !important;
}

.post-body ul li a{
  color: #0593d3; 
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}



/*阅读全文按钮设置*/
.post-button .btn {
    color: #555 !important;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    border: none !important;
    transition-property: unset;
    padding: 0px 15px;
    margin: inherit;
}
.post-button .btn:hover {
    color: rgb(255, 255, 255) !important;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
    margin: inherit;
}



.posts-expand .post-title-link::before {
    background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
}


/*适配ipad和1366*768的笔记本电脑的宽度*/
@media(min-width: 1000px){
	.container .main-inner{
		width: 900px;
	}
}


.site-meta .site-title {
    font-size: 28px;
    font-family: 'Comic Sans MS', sans-serif;
    color: #fff;
}


/*归档页背景颜色设置*/
.page-archive .content{
	background-color: rgba(243, 242, 238, 1) !important;
}

/*自定义的侧栏时间样式*/
#days {
    display: block;
    color: rgb(7, 179, 155);
    font-size: 13px;
    margin-top: 15px;
}

.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}




.post-body {
  word-wrap();
  font-family: $font-family-posts;

  span.exturl .fa {
    font-size: $font-size-small;
    margin-left: 4px;
  }

  .image-caption, .figure .caption {
    color: $grey-dark;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    margin: -20px auto 15px;
    text-align: center;
  }
}

.post-sticky-flag {
  display: inline-block;
  transform: rotate(30deg);
}

.use-motion {
  if (hexo-config('motion.transition.post_block')) {
    .post-block, .pagination, .comments {
      opacity: 0;
    }
  }




  if (hexo-config('motion.transition.post_header')) {
    .post-header {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.post_body')) {
    .post-body {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.coll_header')) {
    .collection-title {
      opacity: 0;
    }
  }
}

@import 'post-button';
@import 'post-collapse';
@import 'post-eof';
@import 'post-expand';
@import 'post-gallery';
@import 'post-meta';
@import 'post-nav';
@import 'post-rtl';
@import 'post-tags';
@import 'post-title';
@import 'post-type';

@import 'post-reward' if (hexo-config('reward_settings.enable'));

@import 'post-copyright' if (hexo-config('creative_commons.post'));

@import 'post-widgets' if ((hexo-config('facebook_sdk.enable') && hexo-config('facebook_sdk.like_button')) || (hexo-config('vkontakte_api.enable') && hexo-config('vkontakte_api.like')) || hexo-config('rating.enable') || hexo-config('likely.enable') || (hexo-config('needmoreshare2.enable') && hexo-config('needmoreshare2.postbottom.enable')));

@import 'post-reading_progress' if (hexo-config('reading_progress.enable'));

@import 'my-post-copyright';



